.App {
    text-align: center;
}


.App-link {
    color: #61dafb;
}
html{
  background: #EDF0F7;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: none; 
    display: none;       /* color of the tracking area */
  }
  body::-webkit-scrollbar-track :hover {
    background: #EDF0F7; 
    display: inline;       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: lightgrey;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid lightgray ;  /* creates padding around scroll thumb */
  }

  .d-flexSpaceBetween{
    display: flex;
    justify-content: space-between;
  }
  
  .d-flex-evenly{
    display: flex;
    justify-content: space-evenly;
  }
  .d-flex-evenly{
    display: flex;
    justify-content: space-evenly;
  }
  
  .d-flexSpaceAround{
    display: flex;
    justify-content: space-around;

  }
  .d-flex{
    display: flex;
  }

  .subHeading{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }


  .padding4{
    padding: 4px 16px
  }
  .text{
    padding: 32px 0px 32px 32px;
  }
  .image {
    margin-left: auto !important;
  }

  .marginTop{
    margin-top: 10px;
  }

  .tableHead{
    width: 100%;
    height: 50px;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    background: rgb(29 27 34);
    border-radius: 8px 8px 0px 0px;
    padding: 16px 24px;
    color: rgb(86, 82, 93);
  }

  .theadCell{
    color: rgb(86, 82, 93);
  }
  
  thead th {
    color: rgb(86, 82, 93) !important;
    font-weight: 600 !important;
  }
 tbody tr{
    background: linear-gradient(104.89deg,#2d2934 69.31%,#d8426d 342.44%);
    border-radius: 6px;
    padding: 16px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr;
    align-items: center;
    grid-gap: 16px;
    color:white
  }

  tbody tr td {
    color: white !important;
  }
  tbody tr th {
    color: white !important;
  }

  

  .chainIcon{
max-width: 32px;
     width: inherit;
      height: inherit;
      
    padding: 5px;
  
  }

  @media screen and (max-width: 600px) {
    .networktext {
      display: none;
    }
  }

  .selectedNetworkIcon{
    background: blue;
    border-radius: 50%;
  }

  .MuiListItemText-primary{
    font-weight: 600 !important;
  }