.App {
    text-align: center;
}


.App-link {
    color: #61dafb;
}
html{
  background: #EDF0F7;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-clip: padding-box;
  color: black
}
:hover::-webkit-scrollbar, :hover::-webkit-scrollbar-thumb, .scrollbar::-webkit-scrollbar, .scrollbar::-webkit-scrollbar-thumb {
  color: black !important;
} */
  .d-flexSpaceBetween{
    display: flex;
    justify-content: space-between;
  }
  
  .d-flex-evenly{
    display: flex;
    justify-content: space-evenly;
  }
  .d-flex-evenly{
    display: flex;
    justify-content: space-evenly;
  }
  
  .d-flexSpaceAround{
    display: flex;
    justify-content: space-around;

  }
  .d-flexCenter{
    display: flex;
    justify-content: center;

  }

  .d-flex{
    display: flex;
  }

  .subHeading{
    font-size: 18px;
    font-weight: 600;
    text-align: left;
  }


  .padding4{
    padding: 4px 16px
  }
  .text{
    padding: 32px 0px 32px 32px;
  }
  .image {
    margin-left: auto !important;
  }

  .marginTop{
    margin-top: 10px;
  }

  
  /* thead th {
    color: rgb(86, 82, 93) !important;
    font-weight: 600 !important;
  } */
 /* tbody tr{
    background: linear-gradient(104.89deg,#2d2934 69.31%,#d8426d 342.44%);
    border-radius: 6px;
    padding: 16px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr 1.5fr;
    align-items: center;
    grid-gap: 16px;
    color:white
  } */

  /* tbody tr td {
    color: white !important;
  }
  tbody tr th {
    color: white !important;
  } */

  

  .chainIcon{
max-width: 32px;
     width: inherit;
      height: inherit;
      
    padding: 5px;
  
  }

  @media screen and (max-width: 900px) {
    .networktext {
    
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    .networktext {
      margin-left: 2px !important;
    }
  }
  .selectedNetworkIcon{
    background: lightblue;
    border-radius: 50%;
  }

  .MuiListItemText-primary{
    font-weight: 600 !important;
  }

  button.MuiButtonBase-root{
   
  }

  .MuiTabs-flexContainer {
    display:flex  !important;
    justify-content:space-around !important;
    font-weight: 600 !important;
  }

  
  .MuiTabs-flexContainer > button {
    font-weight: inherit;
  }

  .MuiTabPanel-root{
    padding:0px !important;
  }

  .MuiTabs-indicator{
    display: none !important;
  }

  .MuiBox-root{
    border: 0px solid !important;
  }

  td {
    padding-top:4px !important;
    padding-bottom:4px !important;
  }
  th {
    font-weight: 600 !important;
    padding-top:4px !important;
    padding-bottom:4px !important;
  }
  tr {
    padding-top:4px !important;
    padding-bottom:4px !important;
  }