body {
  font-family: Tahu;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.MuiDrawer-root .nav-item {
  color: var(--gray_400);
  padding: 8px 32px;
}

iframe {
  display: none !important;
}

link {

  cursor: pointer;
  text-decoration: none;
  color: inherit;
}


.link:hover {
  background: #393A41 !important
}