body {
  font-family: Tahu;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiDrawer-root .nav-item {
  color: var(--gray_400);
  padding: 8px 32px;
}

iframe {
  display: none !important;
}

link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.link:hover {
  background: #393a41 !important;
}

.MuiButton-containedPrimary {
  background: linear-gradient(to bottom, #fdc901 0%, #f8b017 50%, #f29430 100%) !important;
  border-radius: 30px !important;
  color: black !important;
}

.MuiButton-outlinedPrimary {
  border: 2px solid #f7ab1b !important;
  border-radius: 30px !important;
  color: white !important;
}

h3 {
  font-size: 14px;
  color: #f3952f;
  margin: 0;
  font-weight: 600;
  padding-bottom: 10px;
}

.MuiPopover-paper {
  background: currentColor !important;
  border-radius: 14px !important;
}
.MuiPopover-paper li {
  display: block;
  min-width: 150px;
}
